@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;0,700;1,300&display=swap");
* {
    color: #000000;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
}

html,
body,
.wrap {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    height: 100%;
    scroll-behavior: smooth;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: #ececec;
}

b {
    color: #ececec;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

p {
    text-align: justify;
}

.navbar {
    z-index: 1;
    width: 100%;
    line-height: 44px;
    position: fixed;
    display: block;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: saturate(180%) blur(3px);
}

.navbar .navbar-right {
    float: right;
}

.navbar .navbar-left {
    float: left;
}

.navbar .item {
    margin: 0 7px;
    float: right;
}

.navbar a:hover {
    color: rgba(255, 255, 255, 0.713);
}

.navbar a {
    display: block;
}

.navbar .responsive {
    display: none;
}

.navbar .responsive a {
    text-align: center;
    float: none;
    border-bottom: solid 1px;
    line-height: 30px;
}

.content {
    margin-top: 44px;
    background-color: #ffffff;
    width: 100%;
    display: block;
}

.footer {
    background-color: rgba(0, 0, 0, 0.8);
}

.footer p {
    color: #ececec;
    margin: 5px 0;
}

.footer .link-item {
    margin: 10px 0;
}

.footer .link-item a:hover {
    color: brown;
}

.navbar a.icon {
    display: none;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.row {
    margin: 15px 0;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.navbar [class*="col-"] {
    padding: 0;
}


/* For mobile phones: */

[class*="col-"] {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .col-xxs-1 {
        width: 8.33%;
    }
    .col-xxs-2 {
        width: 16.66%;
    }
    .col-xxs-3 {
        width: 25%;
    }
    .col-xxs-4 {
        width: 33.33%;
    }
    .col-xxs-5 {
        width: 41.66%;
    }
    .col-xxs-6 {
        width: 50%;
    }
    .col-xxs-7 {
        width: 58.33%;
    }
    .col-xxs-8 {
        width: 66.66%;
    }
    .col-xxs-9 {
        width: 75%;
    }
    .col-xxs-10 {
        width: 83.33%;
    }
    .col-xxs-11 {
        width: 91.66%;
    }
    .col-xxs-12 {
        width: 100%;
    }
    .navbar .item a {
        display: none;
    }
    .navbar a.icon {
        float: right;
        display: block;
    }
    .row {
        padding: 0px 3%;
    }
    .row.slider {
        padding: 0;
    }
    .row.slider .col-12 {
        padding: 0;
    }
    .navbar.active .responsive {
        display: block;
    }
    .navbar.active .row:first-child {
        background-color: #00000052;
    }
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-xs-1 {
        width: 8.33%;
    }
    .col-xs-2 {
        width: 16.66%;
    }
    .col-xs-3 {
        width: 25%;
    }
    .col-xs-4 {
        width: 33.33%;
    }
    .col-xs-5 {
        width: 41.66%;
    }
    .col-xs-6 {
        width: 50%;
    }
    .col-xs-7 {
        width: 58.33%;
    }
    .col-xs-8 {
        width: 66.66%;
    }
    .col-xs-9 {
        width: 75%;
    }
    .col-xs-10 {
        width: 83.33%;
    }
    .col-xs-11 {
        width: 91.66%;
    }
    .col-xs-12 {
        width: 100%;
    }
    .row {
        padding: 0px 5%;
    }
    .navbar .active .responsive {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
    .row {
        padding: 0px 10%;
    }
}

@media only screen and (min-width: 1366px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
    .row {
        padding: 0px 15%;
    }
}

@media only screen and (min-width: 1750px) {
    /* For desktop: */
    .col-xl-1 {
        width: 8.33%;
    }
    .col-xl-2 {
        width: 16.66%;
    }
    .col-xl-3 {
        width: 25%;
    }
    .col-xl-4 {
        width: 33.33%;
    }
    .col-xl-5 {
        width: 41.66%;
    }
    .col-xl-6 {
        width: 50%;
    }
    .col-xl-7 {
        width: 58.33%;
    }
    .col-xl-8 {
        width: 66.66%;
    }
    .col-xl-9 {
        width: 75%;
    }
    .col-xl-10 {
        width: 83.33%;
    }
    .col-xl-11 {
        width: 91.66%;
    }
    .col-xl-12 {
        width: 100%;
    }
    .row {
        padding: 0px 18%;
    }
}


/* Slideshow container */

.slideshow-container {
    position: relative;
    margin: auto;
    z-index: 0;
}

.slideshow-container .mySlides {
    display: none
}


/* Next & previous buttons */

.slideshow-container .prev,
.slideshow-container .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.slideshow-container .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.slideshow-container .prev:hover,
.slideshow-container .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.slideshow-container .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.slideshow-container .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.slideshow-container .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slideshow-container .active,
.slideshow-container .dot:hover {
    background-color: #717171;
}


/* Fading animation */

.slideshow-container .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .slideshow-container .prev,
    .slideshow-container .next,
    .slideshow-container .text {
        font-size: 11px
    }
}

.form-control {
    border: none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea,
.contact button[type="submit"] {
    font: 500 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

.contact {
    margin: 100px 0;
}

.contact h2 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 15px;
}

.contact input[type="text"],
.contact input[type="email"],
.contact input[type="tel"],
.contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

.contact input[type="text"]:hover,
.contact input[type="email"]:hover,
.contact textarea:hover {
    -webkit-transition: border-color 0.4s ease-in-out;
    -moz-transition: border-color 0.4s ease-in-out;
    transition: border-color 0.4s ease-in-out;
    border: 1px solid #aaa;
}

.contact textarea {
    height: 120px;
    max-width: 100%;
    resize: none;
}

.contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #86b9b9;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

.contact button[type="submit"]:hover {
    background: rgba(0, 0, 0, 0.8);
    -webkit-transition: background 0.4s ease-in-out;
    -moz-transition: background 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out;
}

.contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.contact input:focus,
.contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}